@model WBE_NetCore.Models.OrdenPago

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>OrdenPago</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.sucursal_id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.sucursal_id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.monto)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.monto)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.moneda)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.moneda)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.estado)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.estado)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.fecha_pago)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.fecha_pago)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
