@model IEnumerable<WBE_NetCore.Models.Banco>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<hr />
<h2>Registro de Bancos</h2>
<hr />
<p>
    Ingrese al modulo
    @*<a asp-controller="Banco" asp-action="Create">Agregar Nuevo</a>*@
    <a asp-action="Registro" class="btn btn-success"><i class="far fa-plus-square"></i> Adicionar Banco</a>
</p>
<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fecha_registro)
            </th>
            <th>
                
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fecha_registro)
            </td>
            <td>
                <a asp-action="Registro" asp-route-id="@item.ID"><i class="fa fa-marker fa-lg"></i></a>
                <a asp-action="Eliminar" asp-route-id="@item.ID" class="text-danger ml-1" onclick="return confirm('¿Esta seguro que desea eliminar el registro?')"><i class="fa fa-trash-alt fa-lg"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
